# Project
!download-from-youtube.sh
datasets/*
librosa/*
cnnseq/*res*/*
results/*
data_analysis/results*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv*/*
ENV/

# Pycharm Projects
.idea/*
